<ion-view view-title="Search">
  <ion-content>
      <div class="list">
          <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="user.firstName">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="user.lastName">
          </label>
          <label class="item item-input">
              <textarea placeholder="Comments" ng-model="user.comments"></textarea>
          </label>

          <div class="item">
              <div class="button-bar">
                  <button class="button button-icon icon ion-qr-scanner" ng-click="scanBarcode()"></button>
                  <button class="button button-positive">Submit</button>
                  <button class="button button-icon icon ion-share" ng-click="openModal()"></button>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
